
.test-1 {
    background-color: #FF7F50;
}

.test-2 {
    background-color: aqua;
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}

/* Flex
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.flex-column {
    display: flex;
    flex-direction: column;
    display: -ms-flexbox;
}

.flex-row {
    display: flex;
    flex-direction: row;
    display: -ms-flexbox;
}

.flex-wrap {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-between {
    justify-content: space-between;
}

.align-content-center {
    align-content: center;
}

.align-items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.is-full-width {
    width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
    .is-sm-1.col {
        width: 8.33333333%;
    }
    .is-sm-2.col {
        width: 16.66666667%;
    }
    .is-sm-3.col {
        width: 25%;
    }
    .is-sm-4.col {
        width: 33.33333333%;
    }
    .is-sm-5.col {
        width: 41.66666667%;
    }
    .is-sm-6.col {
        width: 50%;
    }
    .is-sm-7.col {
        width: 58.33333333%;
    }
    .is-sm-8.col {
        width: 66.66666667%;
    }
    .is-sm-9.col {
        width: 75%;
    }
    .is-sm-10.col {
        width: 83.33333333%;
    }
    .is-sm-11.col {
        width: 91.66666667%;
    }
    .is-sm-12.col {
        width: 100%;
    }
 }

 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) {

    .is-md-1.col {
        width: 8.33333333%;
    }
    .is-md-2.col {
        width: 16.66666667%;
    }
    .is-md-3.col {
        width: 25%;
    }
    .is-md-4.col {
        width: 33.33333333%;
    }
    .is-md-5.col {
        width: 41.66666667%;
    }
    .is-md-6.col {
        width: 50%;
    }
    .is-md-7.col {
        width: 58.33333333%;
    }
    .is-md-8.col {
        width: 66.66666667%;
    }
    .is-md-9.col {
        width: 75%;
    }
    .is-md-10.col {
        width: 83.33333333%;
    }
    .is-md-11.col {
        width: 91.66666667%;
    }
    .is-md-12.col {
        width: 100%;
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {

    .is-lg-1.col {
        width: 8.33333333%;
    }
    .is-lg-2.col {
        width: 16.66666667%;
    }
    .is-lg-3.col {
        width: 25%;
    }
    .is-lg-4.col {
        width: 33.33333333%;
    }
    .is-lg-5.col {
        width: 41.66666667%;
    }
    .is-lg-6.col {
        width: 50%;
    }
    .is-lg-7.col {
        width: 58.33333333%;
    }
    .is-lg-8.col {
        width: 66.66666667%;
    }
    .is-lg-9.col {
        width: 75%;
    }
    .is-lg-10.col {
        width: 83.33333333%;
    }
    .is-lg-11.col {
        width: 91.66666667%;
    }
    .is-lg-12.col {
        width: 100%;
    }

   }


    .col-row:first-child, .col:first-child {
        margin-left: 0;
    }



.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 2.0rem;
    box-sizing: border-box;
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.form-group:not(:last-child) {
    margin-bottom: 1.2rem;
  }

.form-label {
    display: block;
    line-height: 1.2rem;
    padding: .9rem 0;
    font-size: 1.5rem;
    font-weight: bold;
  }

.form-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    background-image: none;
    border: .05rem solid #bcc3ce;
    border-radius: .1rem;
    color: #3b4351;
    display: block;
    font-size: 1.5rem;
    height: 3.0rem;
    line-height: 1.2rem;
    max-width: 100%;
    outline: none;
    padding: 0.6rem;
    position: relative;
    transition: background .2s, border .2s, box-shadow .2s, color .2s;
    width: 100%;
  }

  .form-input:focus {
    border-color: #FF7F50; 
    box-shadow: 0 0 0 .1rem rgba(87, 85, 217, .2);
  }

  .form-input:-ms-input-placeholder {
    color: #bcc3ce;
  }
  
  .form-input::-ms-input-placeholder {
    color: #bcc3ce;
  }
  
  .form-input::placeholder {
    color: #bcc3ce;
  }
  
  .form-input.input-sm {
    font-size: .7rem;
    height: 1.4rem;
    padding: .05rem .3rem;
  }
  
  .form-input.input-lg {
    font-size: .9rem;
    height: 2rem;
    padding: .35rem .6rem;
  }
  
  .form-input.input-inline {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.is-button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 3.8rem;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 3.8rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

.is-button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.is-button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.is-button.is-button-primary,
button.is-button-primary,
input[type="submit"].is-button-primary,
input[type="reset"].is-button-primary,
input[type="button"].is-button-primary {
  color: #FFF;
  background-color: #FF7F50;
  border-color: #FF7F50; }
.is-button.is-button-primary:hover,
button.is-button-primary:hover,
input[type="submit"].is-button-primary:hover,
input[type="reset"].is-button-primary:hover,
input[type="button"].is-button-primary:hover,
.is-button.is-button-primary:focus,
button.is-button-primary:focus,
input[type="submit"].is-button-primary:focus,
input[type="reset"].is-button-primary:focus,
input[type="button"].is-button-primary:focus {
  color: #FFF;
  background-color: #FF7F50;
  border-color: #FF7F50; }

  
/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */



  /* Components
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.card {
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(134, 140, 151, 0.24);
    background-color: #FFFFFF;
}

.card-header {
    font-size: 1.50rem;
    padding: 1rem;
    border-bottom-width: 1px;
    border-bottom-color: 1px solid rgba(134, 140, 151, 0.24);
}

.card-body {
    padding: 2.8rem;
}